body {
font-family: Urbanist, sans-serif;
  background-color: #0C0D12;
  color: #ffffff;
  margin: 0; 
  padding: 0;
  min-width: 320px;
  height: 100%;


  
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
 height : 100%;
}


a {
  
  text-decoration: none;
}


h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}